# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl
*.tfvars

# Libvirt / images cloud (téléchargées par Terraform)
*.img
*.log

# Ansible
*.retry
config/inventory.ini

# IDE
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Secrets / credentials
app/scripts/db_root_password
app/scripts/db_password

# VirtualBox Machine Folders
VirtualBox VMs/
