# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl
*.tfvars

# Vagrant
infra/.vagrant/
*.log

# Ansible
*.retry
config/inventory.ini

# IDE
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Secrets / credentials
app/scripts/db_root_password
app/scripts/db_password

# Images de base lourdes
infra/virtualbox.box

# VirtualBox Machine Folders
VirtualBox VMs/
